/* 把我们所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
  /* 设置盒子大小就是width*/
  box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}

/* 去掉li 的小圆点 */
li {
  list-style: none;
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #3f3f3f;
}

button,
input {
  border: none;
  outline: none;
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #eff2f9;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}

.hide,
.none {
  display: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.header {
  color: #fff;
  background: linear-gradient(to right, #30bf93, #836cbf);
  padding: 30px;
}

.header .header_tit {
  float: left;
  font-size: 26px;
}

.header .header_content {
  float: right;
  margin-right: 50px;
}

.header .header_content a {
  color: #fff;
}

.main {
  margin: 0;
}

.main .main_left {
  height: 650px;
  background-color: #fff;
}

.main .main_left h3 {
  color: #5c93aa;
}

.main .main_left ul li {
  font-size: 16px;
  padding: 10px;
}

.main .main_left ul li a:hover {
  color: #628cad;
  text-decoration: none;
}

.main .main_right {
  height: 650px;
  border-left: 20px solid #eff2f9;
  background-color: #fff;
}

.main .main_right .search_box {
  margin: 20px auto;
  text-align: center;
}

.main .main_right .search_box input[type="search"] {
  color: #fff;
  width: 300px;
  height: 40px;
  background-color: #41ae9c;
  border-radius: 20px;
  padding-left: 10px;
}

.main .main_right .search_box input[type="submit"] {
  width: 60px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  background-color: #37b796;
  border-radius: 6px;
}

.main .main_right table {
  width: 1000px;
  font-size: 16px;
  text-align: center;
  margin: 40px auto;
}

.main .main_right table tr {
  text-align: center;
  padding: 20px 0;
}

.main .main_right table tr th {
  text-align: center;
}

.main .main_right table tr td {
  text-align: center;
}

.main .main_right table tr td button {
  width: 60px;
  color: #fff;
  background-color: #7e71bd;
  border-radius: 7px;
}

.true {
  position: absolute;
  top: 7px;
  left: 124px;
  font-size: 16px;
  color: green;
  display: none;
}

.header_content a {
  font-size: 15px;
}

.header_content span {
  font-size: 15px;
}